body {
  background-color: #f8b195;
  margin-top: 0px;
  font-family: Pacifico;
  font-size: 150%;
  font-weight: bold;
  color: white;
}
 
.mainContainer {

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

}

.event-name {
  width: auto;
}

.event-name input {
  font-family: Pacifico;
  font-size: 28px;
  background: inherit;
  border: none;
  display: table-cell;
  width: 210px;
  color: inherit;
}

.datepicker {
  height: 40px;
  font-size: 30px;
  border: none;
  background: inherit;
  font-family: inherit;
  color: #BA5536;
}

.error {
  color: red;
  margin: 10px;
  padding: 5px;
  font-size: 80%;
  position: absolute;
  background: white;
  border: 3px solid red;
  border-radius: 15px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -150%);

}

.caption {
  margin: 10px;
}



button {
  margin: 20px;
  padding: 15px;
  font-family: Pacifico;
  font-size: 100%;
  border: none;
  border-radius: 40px;
  background: #fa6400;

  color: white;

}


.tittle-countdown {
  font-size: 150%;
}

table {
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}

th {
  font-size: 300%;
  height: 10px;
  padding: 10px;
  line-height: 40px;
}

td {
  width: 130px;
}
