body {
  background-color: darkgrey;
  margin-top: 0px;
  font-family: 'Quantico', sans-serif;
  font-size: 150%;
  font-weight: bold;
  color: white;
}

.mainContainer {

  text-align: center;
  position: absolute;

  left: 50%;

  transform: translate(-50%, 0%);

}

.caption {
  font-size: 40px;
}

button {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  margin: 5px;
}

button:focus {
  outline: none;
}

button:hover {
  color: grey;
}


.time {
  font-size: 90px;
  width: 430px;
  text-align: left;
}
